/* animation css */

.t_parallax_image {
  overflow: hidden;
}


.panel {
  background-color: #00bcd4;
  overflow: hidden;
  position: relative;
  display: inline-block;
  /* content size অনুযায়ী */
}

/* Initial clip-path states */
.clip-top {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.clip-bottom {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

.clip-left {
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.clip-right {
  clip-path: polygon(100% 0, 90% 0, 90% 100%, 100% 100%);
}


/* Text content styling */
.panel>div {
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  user-select: none;
  color: white;
  white-space: nowrap;
}

/* Image styling */
.panel img {
  display: block;
  /* important for clip-path */
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}