/* === primary btn scss (index 01) === */
.rr-btn {
  z-index: 5;
  font-size: 16px;
  overflow: hidden;
  font-weight: 500;
  line-height: 20px;
  position: relative;
  padding: 11.5px 23px;
  align-items: center;
  display: inline-flex;
  border-radius: 500px;
  letter-spacing: -0.48px;
  justify-content: center;
  text-transform: capitalize;
  font-family: var(--font_bai);
  background-color: transparent;
  border: 1px solid #DADADA;

  &:hover,
  &:focus {

    &::before {
      height: 100%;
    }

    .btn-wrap {
      .text-one {
        transform: translateY(-150%);
      }

      .text-two {
        top: 50%;
        transform: translateY(-50%);
        color: var(--white);
      }
    }
  }

  &:after {
    display: block;
    clear: both;
    content: "";
  }

  &::before {
    background-color: var(--primary);
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    position: absolute;
    transition: all 0.5s;
  }

  .btn-wrap {
    z-index: 1;
    float: left;
    overflow: hidden;
    position: relative;
    display: inline-block;
    border: none;

    .text-one,
    .text-two {
      gap: 10px;
      display: flex;
      align-items: center;
      margin-right: 1px;

      i {
        font-size: 12px;
      }
    }

    .text-one {
      position: relative;
      color: var(--primary);
      transition: all 0.5s;
    }

    .text-two {
      top: 100%;
      position: absolute;
      color: var(--white);
      transition: all 0.5s;
    }
  }

  &.btn-black {
    background: var(--primary);
    font-size: 13px;
    padding: 11.5px 28px;


    &::before {
      background-color: var(--white);
    }

    .btn-wrap {
      text-transform: uppercase;

      .text-one {
        color: var(--white);
      }

      .text-two {
        color: var(--primary);
      }
    }
  }
}