/* === primary btn scss (index 01) === */

.rr-btn-primary {
  gap: 6px;
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  padding: 26px 35px;
  color: var(--black);
  align-items: center;
  border-radius: 500px;
  justify-content: center;
  border: 1px solid var(--border);
  transition: background 0.3s ease;
  cursor: pointer;
  background: var(--white);

  .text {
    z-index: 1;
    position: relative;
    display: inline-flex;
    transition: all 0.2s;

    span {
      opacity: 1;
      min-width: 4px;
      transition: none;
      color: var(--black);
      font-weight: 500;
      display: inline-block;
      letter-spacing: -0.8px;
      transform: translateX(0) scale(1);
    }
  }

  i {
    font-size: 13px;
    line-height: 14px;
    color: var(--black);
    transition: all 0.3s;
  }

  &:hover {
    background: var(--black);

    .text {
      span {
        opacity: 0;
        transition: none;
        transform: translateX(-10px) scale(1.2);
      }

      span.animate {
        opacity: 1;
        color: var(--white);
        transform: translateX(0) scale(1);
        transition: opacity 0.2s ease, transform 0.2s ease, color 0.2s ease;
      }
    }

    i {
      opacity: 0;
      color: var(--white);
      transform: translateX(100%);
    }
  }

  &.btn-black {
    padding: 13.5px 20px;
    background: var(--black);

    .text {

      span {
        color: var(--white);
        letter-spacing: -0.39px;
        text-transform: uppercase;
      }
    }

    i {
      color: var(--white);
    }
  }
}

.rr-btn-primary.has-icon {
  &:hover {
    .text {
      transform: translateX(10px);
    }
  }
}