/* === footer scss (index 01) === */

.footer-widget-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media #{$sm} {
        gap: 30px 0;
        grid-template-columns: repeat(2, 1fr);
    }

    @media #{$xs} {
        gap: 0px 0;
        grid-template-columns: 1fr;
    }
}

.footer__inner {
    border-top: 1px solid #DADADA;
    margin-top: -4px;
}

.footer-widget-box {
    display: flex;
    padding-top: 37px;
    padding-bottom: 40px;
    flex-direction: column;

    @media #{$sm} {
        padding-bottom: 10px;
    }

    &:not(:last-child) {
        border-right: 1px solid #DADADA;
    }

    &:not(:first-child) {
        padding-left: 40px;

        @media #{$xl} {
            padding-left: 30px;
        }

        @media #{$xs} {
            padding-left: 0px;
        }
    }

    .title {
        color: #999;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.48px;

        @media #{$xs} {
            margin-bottom: 10px;
        }
    }

    .subscribe-form {
        padding-right: 50px;

        @media #{$xl} {
            padding-right: 30px;
        }

        .title {
            font-size: 16px;
            font-weight: 500;
            line-height: 18px;
            margin-bottom: 30px;
            color: var(--primary);
            letter-spacing: -0.48px;
        }

        .input-group {
            display: flex;
            padding: 13px 0 15px;
            flex-wrap: nowrap;
            align-items: center;
            border-top: 1px solid #DADADA;

            &:last-of-type {
                border-bottom: 1px solid #DADADA;
            }

            input {
                padding-right: 10px;
            }

            i {
                color: #999999;
            }
        }

        input {
            border: 0;
            outline: 0;
            width: 100%;
            color: #999;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: -0.48px;
            background-color: transparent;

            &::placeholder {
                color: #999;
            }
        }

    }

    .copyright-text {
        margin-top: 255px;

        @media #{$xl} {
            margin-top: 200px;
        }

        @media #{$xs} {
            margin-top: 50px;
        }

        .text {
            font-size: 16px;
            font-weight: 500;
            line-height: 18px;
            color: var(--primary);
            letter-spacing: -0.48px;

            a {
                &:hover {
                    color: #999999;
                }
            }
        }
    }

    .footer-nav-list {
        margin-top: auto;

        &:hover {

            li a {
                opacity: 0.3;
            }
        }

        li {
            color: var(--primary);
            transition-duration: 500ms;
            transition-property: opacity;
            list-style: none;
            font-size: 16px;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: -0.48px;

            a {
                display: block;

                &:hover {
                    opacity: 1;

                    a strong {
                        opacity: 1;
                        top: -23px;
                    }
                }

                a strong {
                    opacity: 0;
                    transition-property: opacity, top;
                    transition-duration: 250ms;
                }
            }
        }
    }

    .footer-location {
        margin-top: auto;

        p {
            font-size: 16px;
            font-weight: 500;
            line-height: 18px;
            margin-bottom: 20px;
            color: var(--primary);
            letter-spacing: -0.48px;
        }

        a {
            color: var(--primary);
            display: block;
            font-size: 16px;
            font-weight: 500;
            line-height: 18px;
            color: var(--primary);
            letter-spacing: -0.48px;

            &:hover {
                color: #999999;
            }
        }
    }
}