/* === header scss (index 01) === */
.header-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .header-main {
        border-bottom: 1px solid var(--border);
    }

    &__inner {
        gap: 30px;
        margin: 17px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-right {
        gap: 10px;
        display: flex;
        align-items: center;

        .side-toggle {
            .bar-icon {
                width: 30px;
                height: 7px;

                span {
                    height: 1px;
                    background: var(--primary);
                }
            }
        }

        .rr-btn {
            @media #{$xs} {
                display: none;
            }
        }
    }

    .header__logo {
        img {
            max-width: 115px;
        }
    }

    .sticky,
    .transformed {
        background-color: #FFFFFF;
    }

    .main-menu {

        >ul {
            display: flex;

            >li {
                &:hover {
                    >a {
                        color: #999999;
                    }

                }
            }
        }


        li a {

            font-size: 16px;
            font-weight: 400;
            padding: 21.5px 14px;
            color: var(--black);

            @media #{$xl} {
                padding: 29px 10px;
            }

            &:hover {
                color: var(--white);
            }
        }
    }

    .search-icon {
        color: var(--primary);
    }

    .header-meta {
        @media #{$sm} {
            display: none;
        }

        .date {
            font-size: 16px;
            font-weight: 500;
            line-height: 18px;
            color: var(--primary);
            letter-spacing: -0.48px;
        }
    }

    .header__navicon {
        margin-left: auto;

        i {
            font-size: 22px;
            color: var(--white);
        }
    }

    .header-lan {

        @media #{$sm} {
            display: none;
        }

        border: 1px solid #DADADA;
        border-radius: 500px;
        padding: 0px 21px;
    }

    .nice-select {
        -webkit-tap-highlight-color: transparent;
        background-color: transparent;
        border-radius: 0;
        border: none;
        box-sizing: border-box;
        clear: both;
        cursor: pointer;
        display: block;
        float: left;
        height: auto;
        outline: none;
        padding-left: 0;
        padding-right: 16px;
        position: relative;
        text-align: left !important;
        transition: all 0.2s ease-in-out;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        white-space: nowrap;
        width: auto;

        .current {
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            color: var(--primary);
            letter-spacing: -0.48px;
            font-family: var(--font_bai);
        }

        .icon {
            top: 0;
            right: 0;
            position: absolute;
            transition: all 0.3s;
        }

        .list {
            background-color: transparent;
            box-shadow: none;
        }

        .option {
            line-height: 1;
            min-height: auto;
            padding: 12px 0;
            color: var(--primary);
        }

        &:after {
            display: none;
        }

        &.open {
            .icon {
                top: 2px;
                transform: rotate(180deg);
            }
        }
    }
}


/* === header scss (index 01) === */
.header-area-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .header-main {
        border-bottom: 1px solid var(--border);

        @media #{$xs} {
            padding: 10px 0;
        }
    }

    &__inner {
        gap: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-right {
        gap: 30px;
        display: flex;
        align-items: center;

        .side-toggle {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;

            .bar-icon {
                width: 30px;
                height: 7px;

                span {
                    height: 2px;
                    border-radius: 500px;
                    background: var(--primary);

                    &:nth-child(2) {
                        margin-left: -10px;
                    }
                }
            }
        }

    }

    .header__logo {
        img {
            max-width: 24px;
        }
    }

    .sticky,
    .transformed {
        background-color: #FFFFFF;
    }

    .header__nav-2 {
        margin-right: auto;
        padding-left: 30px;
        border-left: 1px solid var(--border);
    }

    .main-menu {

        >ul {
            display: flex;

            >li {
                &:hover {
                    >a {
                        color: #999999;
                    }

                }
            }
        }


        li a {

            font-size: 14px;
            font-weight: 500;
            color: var(--black);
            padding: 21.5px 14px;
            text-transform: uppercase;

            @media #{$xl} {
                padding: 22px 10px;
            }

            &:hover {
                color: var(--white);
            }
        }
    }

    .header-meta {
        @media #{$sm} {
            display: none;
        }

        .date {
            font-size: 16px;
            font-weight: 500;
            line-height: 18px;
            color: var(--primary);
            letter-spacing: -0.48px;
        }
    }

    .header__navicon {
        // gap: 20px;
        display: flex;
        align-items: center;
        // padding-left: 20px;
        border-left: 1px solid var(--border);
    }

    .rr-btn {
        border: none;
        border-radius: 0;
        background: var(--black);
        padding: 19.5px 22px;

        @media #{$xs} {
            display: none;
        }

        .btn-wrap {

            .text-one,
            .text-two {
                font-size: 14px;
                font-weight: 500;
                color: var(--white);
                text-transform: uppercase;
            }
        }
    }
}

/* === Icon draw scss (index 01) === */
.bar-icon {
    width: 26px;
    height: 18px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    transition: color .2s ease-out;

    span {
        width: 100%;
        height: 2px;
        display: inline-block;
        background: var(--primary);
        transition: color .2s ease-out;

        &:nth-child(2) {
            margin-left: 0px;
        }
    }

    &:hover {
        span {
            animation: qode-draw .8s cubic-bezier(.44, 1.1, .53, .99) 1 forwards;

            &:nth-child(2) {
                margin-left: 0px;
                animation-delay: .1s;
            }

            &:nth-child(3) {
                animation-delay: .2s;
            }
        }
    }

    &.is-black {
        span {
            background: var(--rr-common-black);
        }
    }

    &.is-white {
        span {
            background: var(--rr-common-white);
        }
    }
}

/* === Icon draw Animate scss (index 01) === */
@keyframes qode-draw {

    0%,
    100% {
        -webkit-clip-path: inset(-2px 0);
        clip-path: inset(-2px 0)
    }

    42% {
        -webkit-clip-path: inset(-2px 0 -2px 100%);
        clip-path: inset(-2px 0 -2px 100%)
    }

    43% {
        -webkit-clip-path: inset(-2px 100% -2px 0);
        clip-path: inset(-2px 100% -2px 0)
    }
}